*, *:before, *:after {
  box-sizing: border-box;
}
.kp {
  max-width: 360px;
  margin-top: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
  #key {
    padding: 20px;
    font-size: 28px;
    width: 100%;
    border: solid 2px #000;
    &.error {
      border-color: red;
      color: red;
      font-weight: bold;
    }
  }
  .ent {
    // padding: 10vh 20px;
    height: 120px;
    width: 120px;
    font-size: 28px;
    background-color: #f7f7f7;
    border: solid 2px #000;
  }
  #snd {
    font-size: 24px;
    width: 360px;
    background-color: #f7f7f7;
    border: solid 2px #000;
  }
}

.btn {

}